#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.glass {
  background: linear-gradient(to bottom right, rgba(11, 2, 31, 0.4), rgba(186, 132, 244, 0.4));
  border-radius: 10px;
  border: 1px solid rgba(186, 132, 244, 0.1);
  backdrop-filter: blur(20px);
}

.glasslayer2{
  background: linear-gradient(to bottom right , #81638A, #E0ADF0);
  border-radius: 10px;
  border: 2px solid #BA84F4; 
  
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Full height of the screen */
}

.loader {
  border: 16px solid #FAD2F5; /* Light grey */
  border-top: 16px solid #8C4FAD; /* violet */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.custom-width {
  width: 580px;
}
.test{
  color: #B470D8;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
